{% extends "layouts/base.html" %}
{% block title %}Scenery{% endblock %}
{% block content %}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/bg3.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="text-center">
          <h3 class="title text-center">Prediction Result</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <h4 class="title">Prediction Result</h4>
      <table class="table">
    <thead>
        <tr>
            
            <th>Image</th>
            <th>Predicted Label</th>
        </tr>
    </thead>
    <tbody>
        
	{% for key, value in c.items() %}	
<tr>        
  <td class="text-center"><img src="https://new-codeshastra-test-bucket.s3.ap-south-1.amazonaws.com/test_folder/{{key}}" alt="" srcset="" width="150px" height="150px"></td>  
            <td class="text-center"><select class="form-control selectpicker title" data-style="btn btn-link" id="exampleFormControlSelect1">
      <option {% if value=='building'%} selected {% endif %}>BUILDING</option>
      <option {% if value=='forest'%} selected {% endif %}>FOREST</option>
      <option {% if value=='glacier'%} selected {% endif %}>GLACIER</option>
      <option {% if value=='sea'%} selected {% endif %}>SEA</option>
      <option {% if value=='street'%} selected {% endif %}>STREET</option>
      <option {% if value=='mountain'%} selected {% endif %}>MOUNTAIN</option>
    </select></td>
        </tr>
    {% endfor %}    
       
    </tbody>
</table>
<div class="row">
    <div class="col-lg-12 justify-content-right">
        <button class="btn-primary btn">Update Labels</button>
        <button class="btn-primary btn">Cancel</button>
    </div>
</div>
    </div>
  </div>
</div>
{% endblock %}
